/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);
  --accent-main-title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-title-color: #353430;
  --accent-text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
        /* Дублируем переменные светлой темы */
        --accent-main-title-color: #FFC2E6;
        --accent-color: #FF8DCB;
        --accent-title-color: #353430;
        --accent-text-color: #353430;
    }
}
