/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-headfoot-title-color: #DB00FF;
  --accent-color: #ff0070;
  --accent-main-title-color: #FF0070;
  --accent-title-color: #000028;
  --accent-text-color: #F1B2CE;
  --accent-font-family: "IBM Plex Mono";
  --background-image: url();
}